<div class="md-medium-tall" layout="row" layout-align="center center">
     <md-input-container  flex='50'>
       <label>Project Name</label>
       <input ng-model="builder.projectName"/>
     </md-input-container>
</div>

<div class="md-padding demo">
  <div layout="row" layout-wrap layout-align="center center">
    <div flex="50" layout="column">
      <div>

        <fieldset class="demo-fieldset" >
          <legend class="demo-legend">List of Students</legend>

            <div  flex="100" ng-repeat="item in builder.items">

              <md-checkbox> {{item}} </md-checkbox>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
</div>
<!-- md-on-open="builder.loadCohorts()" -->

<div layout="column" layout-align="center center" style="padding:40px" ng-cloak>
  <p># of students per group:</p>
  <div layout="column" layout-align="center center">
    <div flex="50">
    <md-select ng-model="builder.teamCount">
      <md-option ng-repeat="number in [1,2,3,4,5,6,7,8,9]" ng-value="{{number}}">{{number}}</md-option>
    </md-select>
  </div>
</div>
</div>

<div layout="row" layout-align="center center">
  <md-button ng-click="builder.build()" class="md-raised md-primary">Build Your Group</md-button>
</div>
