<md-toolbar layout="row" class="md-hue-3">
  <div class="md-toolbar-tools">
    <span>Cohort Builder for {{cohort.cohort}}</span>
  </div>
</md-toolbar>

<md-content class="md-padding" layout-xs="column" layout="row">
<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Add Member</span>
      <span class="md-subhead">Do it I dare you.</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end center">
    <md-input-container>
      <input type="text" min="1" id="member" name="cohortMember" ng-model="newMember" placeholder="Name">
      <button ng-click="cohort.submitMember(newMember)">Submit</button>
    </md-input-container>
  </md-card-actions>
</md-card>

<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Cohort Members</span>
      <span class="md-subhead">Do it I dare you.</span>
    </md-card-title-text>
  </md-card-title>
<md-list>
 <md-list-item>
   <!-- NG REPEAT TEAM MEMBERS -->
  <md-list-item>
</md-list>
</md-card>
<!-- <md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Cohort Members</span>
      <span class="md-subhead">Look at these fools.</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end center">
    <input type="text" min="1" id="member" name="cohortMember" ng-model="cohortMember" placeholder="Name"></input>
    <button>Submit</button>
  </md-card-actions>
</md-card> -->
</md-content>
