<div class="home-container" flex>

  <md-card class="home-card" layout="column" layout-align="center center">

    <md-input-container>
      <label>Select Cohort…</label>

      <md-select ng-model="home.cohort.selectedCohort">
        <md-option
          ng-repeat="cohort in home.cohort.list"
          ng-value="cohort">
          {{cohort.name}}
        </md-option>
      </md-select>
    </md-input-container>

    <md-card-actions>
      <md-button ng-disabled="!home.cohort.selectedCohort" class="md-primary md-raised" ng-click="home.next()">Next</md-button>
      <!-- <md-button ng-disabled="!home.cohort.selectedCohort" class="md-primary md-raised" ng-click="home.manager()">Manage Cohorts</md-button> -->
    </md-card-actions>

  </md-card>

</div>
