<md-content layout="column" layout-align="center center">

  <md-card layout="column" layout-align="center center">

    <h1>Teaminator</h1>

    <md-input-container>
    <label>Select Cohort…</label>
      <md-select ng-model="home.selectedCohort">
        <md-option ng-repeat="cohort in home.cohorts" value="{{cohort}}">{{cohort}}</md-option>
      </md-select>
    </md-input-container>

    <md-button class="md-primary md-raised" ng-href="#!cohort">Create/Manage Cohorts</md-button>

  </md-card>

</md-content>
