<div class="home-container" flex>

  <md-card class="home-card" layout="column" layout-align="center center">

    <md-input-container>
      <label>Select Cohort…</label>
      <md-select ng-model="home.selectedCohort">
        <md-option 
          ng-repeat="cohort in home.cohorts.list" 
          ng-value="cohort.name">
          {{cohort.name}}
        </md-option>
      </md-select>
    </md-input-container>

    <md-button class="md-primary md-raised" ng-href="#!manager">Manage Cohorts</md-button>


    <form ng-submit="home.add(home.newName)">
    <md-input-container>
      <input type="text" ng-model="home.newName" required />
    </md-input-container>
    <md-button 
      type="submit"
      class="md-primary md-raised"> 
      Add Cohort
    </md-button>
    </form>
  </md-card>

</div>
