<md-toolbar class="cohort-manager-toolbar" layout="row" class="md-hue-3">
  <div class="md-toolbar-tools">
    <span>Cohort Manager for {{manager.cohort.selectedCohort.name}}</span>
  </div>
</md-toolbar>

<md-content class="md-padding" layout-xs="column" layout="row">

  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Add Member</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-input-container>
        <input type="text" min="1" id="member" name="cohortMember" ng-model="newMember" placeholder="Name">
        <md-button class="md-primary md-raised" ng-click="manager.addPerson(newMember)">Submit</md-button>
      </md-input-container>
    </md-card-actions>
  </md-card>

  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Cohort Members</span>
      </md-card-title-text>
    </md-card-title>
    <md-list>
      <md-list-item ng-repeat="student in manager.cohort.people">
        <md-button class="md-raised md-warn md-hue-2" ng-click="manager.deletePerson(student)">Delete</md-button>
        <span>{{student.name}}</span>
      </md-list-item>
    </md-list>
  </md-card>

</md-content>
