<div ng-controller="NavController as nav">

	<md-toolbar layout="column" layout-align="center center">

		<h2>Teaminator</h2>

		<md-list class="breadcrumbs" layout="row" layout-align="center center">
			<md-list-item class="breadcrumb" href="#">Home</md-list-item>
			<md-list-item ng-disabled="nav.cohort.selectedCohort === null" class="breadcrumb" href="#!builder">Builder</md-list-item>
			<md-list-item ng-disabled="nav.cohort.selectedCohort === null" class="breadcrumb" href="#!teams">Teams</md-list-item>
			<md-list-item ng-disabled="nav.cohort.selectedCohort === null" class="breadcrumb" href="#!projects">Projects</md-list-item>
			<md-list-item ng-disabled="nav.cohort.selectedCohort === null" class="breadcrumb" href="#!manager">Cohort</md-list-item>
		</md-list>
	</md-toolbar>

</div>
