<h1>Teams</h1>

<md-content layout-padding>
    <div>
        <form name="teamForm">

          <md-input-container>
            <label>Select Cohort…</label>

            <md-select ng-model="teams.selectedProject">
              <md-option
                ng-repeat="project in teams.data.projectsArray"
                ng-value="cohort">
                {{project.name}}
              </md-option>
            </md-select>
          </md-input-container>
        </form>
    </div>
<br>
    <md-button class="md-primary md-raised" ng-click="teams.getTeams()">Get Teams</md-button>

</md-content>
